docs/n8n-workflow-multi-model-agent.json
{
  "name": "API Test Order - dotnet-integration (Multi-Model Agent)",
  "_readme": "SETUP: 1) Import this file into n8n. 2) Create 3 credentials: openAiApi, anthropicApi, googlePalmApi. 3) Assign each to the matching Chat Model node. 4) Activate. Send payload with optional 'model' field: 'gpt-4o' | 'claude-3-5-sonnet-20241022' | 'gemini-1.5-pro'.",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dotnet-integration",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 420],
      "webhookId": "dotnet-integration"
    },
    {
      "parameters": {
        "jsCode": "// ── Đọc payload từ BE ──\nconst body = $input.first().json.body ?? $input.first().json;\nconst endpoints = body.endpoints;\n\nif (!Array.isArray(endpoints) || endpoints.length === 0) {\n  throw new Error('Payload thiếu mảng endpoints hoặc rỗng.');\n}\n\n// ── Xây dựng danh sách endpoint cho prompt ──\nconst lines = endpoints.map((ep, i) => {\n  const deps = ep.dependsOnEndpointIds?.length > 0\n    ? ` | DependsOn: [${ep.dependsOnEndpointIds.join(', ')}]`\n    : '';\n  const auth = ep.isAuthRelated ? ' [AUTH]' : '';\n  const paramRefs = ep.parameterSchemaRefs?.length > 0\n    ? ` | ParamSchemas: ${ep.parameterSchemaRefs.join(', ')}`\n    : '';\n  const respRefs = ep.responseSchemaRefs?.length > 0\n    ? ` | ResponseSchemas: ${ep.responseSchemaRefs.join(', ')}`\n    : '';\n  return `${i + 1}. [ID=${ep.endpointId}] ${ep.httpMethod} ${ep.path}${auth}${deps}${paramRefs}${respRefs}`;\n}).join('\\n');\n\n// ── System prompt ──\nconst systemPrompt = `You are an expert REST API testing engineer specializing in test execution order design. Your goal is to determine the optimal sequential order for testing a list of REST API endpoints, minimizing test failures caused by wrong execution order. Always respond with ONLY raw JSON — no markdown, no code fences, no explanation outside the JSON object.`;\n\n// ── User prompt ──\nconst userPrompt = `Analyze and order the following API endpoints for sequential automated testing.\n\n=== ORDERING RULES (apply in priority order) ===\n1. [AUTH] endpoints (login, token, authenticate, register) must run FIRST — assign reasonCode \"AUTH_FIRST\"\n2. Endpoints with explicit DependsOn must run AFTER their dependencies — assign reasonCode \"DEPENDENCY_FIRST\"\n3. Endpoints that other endpoints depend on (producers/high fan-out) run early — assign reasonCode \"PRODUCER_FIRST\"\n4. HTTP method order when no other rule applies: POST → PUT/PATCH → GET → DELETE. Assign reasonCode \"DETERMINISTIC_TIE_BREAK\"\n5. Resource hierarchy from path: parent resource (e.g. /users) before child resource (e.g. /users/{id}/posts)\n6. If a schema produced by endpoint A's response is consumed by endpoint B's parameters, A runs before B\n7. Endpoints with many dependents (high fan-out, fanOut > 2) run early — assign reasonCode \"HIGH_FAN_OUT\"\n8. If a cycle is unavoidable, pick the lowest in-degree endpoint to break it — assign reasonCode \"CYCLE_BREAK_FALLBACK\"\n\n=== ENDPOINTS TO ORDER ===\n${lines}\n\n=== REQUIRED RESPONSE FORMAT (raw JSON only, no markdown) ===\n{\n  \"orderedEndpoints\": [\n    {\n      \"endpointId\": \"<exact UUID from input>\",\n      \"httpMethod\": \"<exact HTTP method>\",\n      \"path\": \"<exact path>\",\n      \"orderIndex\": 0,\n      \"dependsOnEndpointIds\": [],\n      \"reasonCodes\": [\"AUTH_FIRST\"],\n      \"isAuthRelated\": true\n    }\n  ],\n  \"reasoning\": \"<one paragraph summarizing the overall ordering strategy>\",\n  \"llmModel\": \"<exact model name you are using>\"\n}\n\nAllowed reasonCodes (use one or more per endpoint): AUTH_FIRST, DEPENDENCY_FIRST, PRODUCER_FIRST, HIGH_FAN_OUT, CYCLE_BREAK_FALLBACK, DETERMINISTIC_TIE_BREAK.\nEvery endpoint from input must appear exactly once in orderedEndpoints. orderIndex must be unique integers starting from 0.`;\n\n// ── Lấy model preference từ payload (mặc định: gpt-4o) ──\nconst modelPreference = (body.model ?? 'gpt-4o').toLowerCase();\n\nreturn [{\n  json: {\n    systemPrompt,\n    userPrompt,\n    model: modelPreference\n  }\n}];"
      },
      "id": "node-002",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-claude",
              "leftValue": "={{ $json.model }}",
              "rightValue": "claude",
              "operator": { "type": "string", "operation": "contains" }
            },
            {
              "id": "cond-anthropic",
              "leftValue": "={{ $json.model }}",
              "rightValue": "anthropic",
              "operator": { "type": "string", "operation": "contains" }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "node-003",
      "name": "IF Is Claude",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-gemini",
              "leftValue": "={{ $json.model }}",
              "rightValue": "gemini",
              "operator": { "type": "string", "operation": "contains" }
            },
            {
              "id": "cond-google",
              "leftValue": "={{ $json.model }}",
              "rightValue": "google",
              "operator": { "type": "string", "operation": "contains" }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "node-003b",
      "name": "IF Is Gemini",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 580]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "temperature": 0.1,
          "maxTokensToSample": 4096
        }
      },
      "id": "node-004",
      "name": "Claude Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [900, 140],
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "id": "node-005",
      "name": "AI Agent (Claude)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [900, 260]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.1,
          "maxOutputTokens": 4096
        }
      },
      "id": "node-006",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1120, 480],
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "id": "node-007",
      "name": "AI Agent (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1120, 600]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.1,
          "maxTokens": 4096
        }
      },
      "id": "node-008",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1120, 740],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "id": "node-009",
      "name": "AI Agent (OpenAI)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1120, 860]
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $input.first().json.output;\n\nif (!agentOutput) {\n  return [{ json: { __error: true, error: 'Agent khong tra ve output.' } }];\n}\n\nlet cleaned = agentOutput.trim();\nif (cleaned.startsWith('```')) {\n  cleaned = cleaned.replace(/^```(?:json)?\\s*\\n?/, '').replace(/\\n?```\\s*$/, '').trim();\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try { parsed = JSON.parse(match[0]); }\n    catch (e2) { return [{ json: { __error: true, error: `Khong parse duoc JSON tu agent. Raw: ${cleaned.substring(0, 200)}` } }]; }\n  } else {\n    return [{ json: { __error: true, error: `Agent output khong chua JSON. Raw: ${cleaned.substring(0, 200)}` } }];\n  }\n}\n\nconst ordered = parsed.orderedEndpoints;\nif (!Array.isArray(ordered) || ordered.length === 0) {\n  return [{ json: { __error: true, error: 'Agent response thieu mang orderedEndpoints hoac rong.' } }];\n}\n\nordered.sort((a, b) => (a.orderIndex ?? 0) - (b.orderIndex ?? 0));\nordered.forEach((ep, i) => {\n  ep.orderIndex = i;\n  if (!ep.endpointId) {\n    throw new Error('Endpoint thieu endpointId trong agent response.');\n  }\n  ep.dependsOnEndpointIds = ep.dependsOnEndpointIds ?? [];\n  ep.reasonCodes = ep.reasonCodes ?? [];\n  ep.isAuthRelated = ep.isAuthRelated ?? false;\n});\n\nreturn [{\n  json: {\n    __error: false,\n    orderedEndpoints: ordered,\n    reasoning: parsed.reasoning ?? '',\n    llmModel: parsed.llmModel ?? 'unknown'\n  }\n}];"
      },
      "id": "node-010",
      "name": "Parse & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 580]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-error",
              "leftValue": "={{ $json.__error }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-014",
      "name": "IF Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1360, 760]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ orderedEndpoints: $json.orderedEndpoints, reasoning: $json.reasoning, llmModel: $json.llmModel }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "node-011",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1580, 680]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.error ?? 'Internal agent error' }) }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "node-012",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1580, 860]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Prepare Prompt", "type": "main", "index": 0 }]]
    },
    "Prepare Prompt": {
      "main": [[{ "node": "IF Is Claude", "type": "main", "index": 0 }]]
    },
    "IF Is Claude": {
      "main": [
        [{ "node": "AI Agent (Claude)", "type": "main", "index": 0 }],
        [{ "node": "IF Is Gemini", "type": "main", "index": 0 }]
      ]
    },
    "IF Is Gemini": {
      "main": [
        [{ "node": "AI Agent (Gemini)", "type": "main", "index": 0 }],
        [{ "node": "AI Agent (OpenAI)", "type": "main", "index": 0 }]
      ]
    },
    "Claude Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent (Claude)", "type": "ai_languageModel", "index": 0 }]]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent (Gemini)", "type": "ai_languageModel", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent (OpenAI)", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Agent (Claude)": {
      "main": [[{ "node": "Parse & Normalize", "type": "main", "index": 0 }]]
    },
    "AI Agent (Gemini)": {
      "main": [[{ "node": "Parse & Normalize", "type": "main", "index": 0 }]]
    },
    "AI Agent (OpenAI)": {
      "main": [[{ "node": "Parse & Normalize", "type": "main", "index": 0 }]]
    },
    "Parse & Normalize": {
      "main": [[{ "node": "IF Error", "type": "main", "index": 0 }]]
    },
    "IF Error": {
      "main": [
        [{ "node": "Respond Error", "type": "main", "index": 0 }],
        [{ "node": "Respond Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "test-generation"
    }
  ],
  "triggerCount": 0,
  "versionId": "c3d4e5f6-ffff-ffff-ffff-000000000002"
}
